-
  config = {
    "list": {
      "index": {
        "default": "default"
      }
    },
    "listitem": {
      "index": {
        "link": "link"
      }
    },
    "sectionhead": {
      "icon": {
        "circle": "circle",
        "square": "square"
      }
    }
  }

